body {
  background: linear-gradient(to right, #c4c3fc, #163c8f);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 60px;
  color: #333;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 400px;
  padding: 12px;
  font-size: 1rem;
  border-radius:1;
  border: 5px solid #ccc;
  margin-bottom: 10px;
  border-color: rgba(43, 5, 61, 0.601);
  
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #6a11cb;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;

}

button:hover {
  background-color: #2575fc;
}
