body {
  margin: 50px;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2c3e50, #dda52c);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  max-width: 600px;
  background: rgba(234, 29, 118, 0);
  border-radius: 60px;
  box-shadow: 0 8px 32px 0 rgba(151, 19, 34, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 2rem 2.5rem;
  color: #fff;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.form-subheading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #e0e0e0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.4rem;
  font-weight: 500;
  color: #f1f1f1;
}

select,
input[type='text'],
input[type='number'] {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(173, 112, 36, 0.2);
  color: #ffffff;
  transition: 0.2s;
}
select:invalid{
color:#d3d3d3;
}

select option{
  color:#000000;
  background-color:#ffffff;
}
select:focus,
input:focus {
  background-color: rgba(174, 134, 149, 0.893);
  box-shadow: 0 0 5px rgba(191, 197, 197, 0.4);
}

.submit-btn {
  background: linear-gradient(to right,rgb(41, 229, 232) );
  color:black;
  padding: 0.6rem;
  border: 80px;
  margin:100px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  display:center;
  transition: background 0.3s ease;
  text-align:center;
  align-items:center;
  font-weight: bolder;
  justify-content: center;
}

.submit-btn:hover {
  background-color: #a2c513;
}
